$color_deep_brown: #301E16;
$color_black: #000;
body, html {
  margin: 0;
  padding: 0;
}

.banner {
  background: url('assets/images/banner_Image.svg') no-repeat;
  background-size: cover;
}

.overlay {
  padding: 20px;
  background-color: rgba(0, 0, 0, .27);
  width: 100%;
}

.flex-elem {
  width: 100%;
  margin: 0 auto;
}

.logo-bkg {
  @extend .flex-elem;
  max-width: 300px;
  @media (max-width: 768px) {
    max-width: 200px;
  }
}

.flex-img, .tutor-btn  {
  width: 100%;
  height: auto;
}

.intro-text {
  @extend .flex-elem;
  letter-spacing: 2px;
  font-size: 82px;
  text-shadow: 1px 4px black;
  color: #BB5547;
  max-width: 850px;
  text-align: center;
  margin: 87px auto 115px auto;
  @media (max-width: 768px) {
    font-size: 45px;
  }
}

.text-white {
  color: white;
}

.tutor-btn-bkg {
  @extend .flex-elem;
  max-width: 422px;
  @media (max-width: 768px) {
    max-width: 250px;
  }
  .tutor-btn {
    background-color: $color_deep_brown;
    height: 90px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 35px;
    margin-bottom: 92px;
  }
}